
//Animation
.modal{
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .modal_popap{
    max-width: 1320px;
    width: 75%;
  }
  //Modal
.modal-dialog{
    max-width: 600px;
    max-height: auto;
}
.modal-content{
    max-width: 489.84765625px;
}
.modal-body{
    max-width: 489.84765625px;
    max-height: 131.688720703125px;
}
.form_name{
    opacity: 0.4000000059604645;
    z-index: 70;
    &:hover{
        opacity: 1;        
    }
    input,select{        
        border-radius: 6px;
        border: 1px solid black ;
        &:hover{
            border-radius: 6px;
            border: 1px solid black ; 
        }          
    }
    input,select[type="text"], input[type="password"], textarea, select {
            outline: none;
        }
    label{
        top: 5px;
        left: 22px;
        max-height: 18px;
        padding: 0 8px;
        font-size: 12px;
        background-color: #fff;
        z-index: 90;
    }
    input,select[placeholder]{
        padding-left: 18px;
    }
    textarea{
        max-width: 489.84765625px;
        height: 131.688720703125px;  
        border-radius: 6px;
        border: 1px solid black ;
        resize: none;
        &:hover{
            border-radius: 6px;
            border: 1px solid black ; 
        }   
    }
    input[type="submit"]:disabled {
      background-color: red;     
     }
}
.modal-footer{
  max-width: 489.84765625px;
}
@media(max-width: 430px){
.modal-footer{
  margin-top: 20px;
  flex-wrap: wrap !important;
  flex-direction: column;
}
}
@media(max-width: 280px){
  .btns{
    max-width:150px;
    width: 100%;
  }
  }